@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    320deg,
    rgba(255, 255, 255, 1) 65%,
    #38bff87a 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-picker-calendar thead th {
  text-align: center;
  padding-inline-end: 0 !important;
  font-weight: 600 !important;
}

.ant-picker-calendar tr {
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
}
